@model IEnumerable<CMS.Models.Session>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Block.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivitySubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Week_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descipline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Objectives)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Halls)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Block.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivitySubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Week_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descipline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Objectives)
        </td>
        <td>
            @foreach (var i in item.Instructors)
            {
                @i.LastName
            }
        </td>
        <td>
            @foreach (var i in item.Halls)
            {
                @i.Room
            }
         </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SessionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SessionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SessionID })
        </td>

    </tr>
    @*<tr>
        @*<td>
        <form id="form1" runat="server">
            <asp:FileUpload id="FileUploadControl" runat="server" />
            <asp:Button runat="server" id="UploadButton" text="Upload" onclick="UploadButton_Click" />
            <br /><br />
            <asp:Label runat="server" id="StatusLabel" text="Upload status: " />
        </form>
            </td>*@
        </tr>*@

}

</table>
