@model CMS.Models.Hall

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hall</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HallID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
