@model IEnumerable<CMS.Models.Hall>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Room)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Room)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeatNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HallID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HallID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HallID })
        </td>
    </tr>
}

</table>
